* {
    margin: 0;
    padding: 0;
}

html {
    background-color: azure;
    font-family: "Courier New";
}

.container {
    margin: auto;
    width: 300px;
    background-color: beige;
}

#firstTable {
    margin-bottom: 50px;
    border-collapse: collapse;
}

.resultField {
    background-color: black;
    height: 50px;
    color: white;
    text-align: right;
    font-size: 36px;
}

.numbers {
    background-color: white;
    border: 1px solid black;
    line-height: 50px;
    width: 100%;
}

#plus {
    height: 100%;
    line-height: 102px;
}

.action {
    background-color: #2896e1;
    border: 1px solid black;
    line-height: 50px;
    width: 100%;
    color: white;
}

#equals {
    background-color: #ff8e4d;
}

input:hover {
    background-color: orange;
    cursor: pointer;
}

#secondTable {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 500px;
    background-color: beige;
    text-align: center;
}

#secondTable th {
    background-color: #2896e1;
    border: 1px solid black;
    border-collapse: collapse;
}

#secondTable td {
    width: 25%;
    border: 1px solid black;
    border-collapse: collapse;
}

#secondTable tr {
    line-height: 30px;
}